body {
  font-family: "Montserrat", serif;
  margin: 0px;
}
header{
  position: fixed;
  width: 100%;
}

header .header_content{
  display: flex;
  padding-right: 25%;
  padding-left: 25%;
  justify-content: space-between;
  align-items: center;
  background-color: #410000;
  color: #fff4ee;
  vertical-align: middle;
  background-attachment: scroll;
}
.header_content p {
  font-size: 24px;
  font-weight: 200;
}

.hero {
  background-image: url("./assets/Главная.svg");
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 3/1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  color: #fff4ee;
  font-size: 30px;
}

@font-face {
  font-family: "SpectralSC-Regular";
  src: url("./assets/SpectralSC-Regular.ttf");
}

.hero p {
  font-family: "SpectralSC-Regular";
  letter-spacing: 2px;
}
.aboute {
  height: 570px;
  display: flex;
  justify-content: space-between;
  padding: 100px 15% 100px 9%;
  font-size: 18px;
}
.aboute div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.aboute p {
  height: 450px;
  border-radius: 20px;
  background-color: #410000;
  width: 60%;
  padding: 50px;
  color: white;
  margin: 0px;
  line-height: 1.8;
}
.aboute .woman{
  width: 470px;
  border-radius: 14px;
}
.catalog {
  display: flex;
  gap: 15%;
  align-items: center;
  justify-content: center;
}
.catalog > .catalog_content
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog_content{
  border-radius: 16px;
  width: 1040px;
  height: 600px;
  background-color: #714040;
  gap: 70px;
}

.catalog_content .tt {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-right: 64px;
}

.catalog_content .tt p {
  padding: 30px;
  border-radius: 20px;
  background-color: #FFFFFF;
  color: #2f3532;
  width: 80%;
}

.button {
  width: 150px;
  height: 50px;
  background-color: #A08080;
  color: #ffffff; 
  border: 2px solid #ffffff;
  cursor: pointer;
  text-align: center;
  border-radius: 6px;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dress {
  width: 420px;
  height: 500px;
  padding-left: 72px;
  padding-top: 64px;
  padding-bottom: 64px;
}
.slider {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.slider_content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

}

.slider div {
  border-radius: 14px;
  background-color: #714040;
  max-width: 370px;
  width: 325px;
}

.slider div img {
  width: 325px;
  height: 370px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.slider .text {
  padding: 10px;
  width: auto;
  text-align: center;
  color: #fff4ee;
  margin: 5px 0 5px 0;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

footer {
  background-color: #410000;
  padding: 50px 0 50px 0;
  color: #fff4ee;
  display: flex;
  justify-content: center;
}

.footer_content{
  display: flex;
  background-color: #410000;
  flex-direction: row;
  margin-left: 50px;
  width: 1100px;
  justify-content: center;
  gap: 100px;
}

.input{
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.input input {
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
  width: 200px;
  max-width: 100%;
  font-family: "Montserrat", serif;
}
 
.input button {
  font-size: 16px;
  width: 150px;
  background-color: #FFFFFF;
  color: white;
  border-radius: 6px;
  padding: 10px;
  margin-top: 10px;
  background-color: #A08080;
  font-family: "Montserrat", serif;
}

.name {
  width: 100%;
  font-family: "Abhaya Libre", serif;
  font-size: 32px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header_name{
  font-family: "Abhaya Libre", serif;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.footer_content .footer_info  {
  font-weight: 200;
  white-space: nowrap;
}

.footer_content div h5 {
  font-weight: 300;
  font-size: 18px;
}

.nets{
  display: flex;
  width: 100%;
  gap: 20px;
}

/**/
